//Reset link styling
a {
  color: inherit;
  text-decoration: none;
  &:after {
    content: "⤴";
  }
  &:hover {
    text-decoration: underline;
  }
}
p > a {
  text-decoration: underline;
}
nav {
  &.continue-reading {
    padding-top: 1em;
  }
  a {
    &:after {
      content: "";
    }
  }
  span.disabled {
    color: grey;
  }
}

// Container
body {
  max-width: 70vw;
  margin: auto;
}
article {
  max-width: 65vw;
  margin: auto;
}

// Link lists
ul {
  li {
    &.active {
      color: grey;
      &:after {
        content: "(this article)";
      }
    }
  }
}

header,
footer {
  padding: 0.8em 0;
}

// Header
header {
  font-size: 1.4em;
  border-bottom: 2px solid black;
  nav {
    a {
      &:after {
        content: "";
      }
      padding-right: 1em;
    }
  }
}
